header {
    background-color: #333333;
    color: rgb(184, 184, 184);
    clear: both;
}

#tools ul {
    margin: 0;
    padding: 0 0 0.3em 0;
}

#tools ul li {
    margin-right: 0.4em;
}

input[type=submit], #history, .secondary-button {
    background-color: #008CBA;
    border: none;
    color: white;
    padding: 8px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    font-weight: bold;
    -moz-border-radius: 4px;
     -webkit-border-radius: 4px;
     border-radius: 4px;
}

select, input[type=text], input[type=password] {
    border: 1px solid #80e5ff;
    -moz-border-radius: 4px;
     -webkit-border-radius: 4px;
     border-radius: 4px;
     padding: 3px;
}